/*
!/minecraft/
minecraft/*

!minecraft/config
minecraft/config/*
!minecraft/config/holdmyitems-client.toml
!minecraft/config/quark-common.toml
!minecraft/config/openloader
!minecraft/config/subtle_effects

!minecraft/tacz
minecraft/tacz/tacz_default_gun
minecraft/tacz/tacz-pre.toml

!minecraft/kubejs

!/minecraft/defaultconfigs/

!/minecraft/mods/
minecraft/mods/.connector

!/minecraft/resourcepacks/
!.gitignore