/*
!/minecraft/
minecraft/*

!minecraft/config
minecraft/config/*
!minecraft/config/holdmyitems-client.toml
!minecraft/config/quark-common.toml
!minecraft/config/openloader
!minecraft/config/subtle_effects
!minecraft/config/hole_filler_mod.toml
!minecraft/config/createfisheryindustry-common.toml
!minecraft/config/Weather2
!minecraft/config/parcool-client.toml

!minecraft/tacz
minecraft/tacz/tacz_default_gun
minecraft/tacz/tacz-pre.toml

!minecraft/kubejs

!/minecraft/defaultconfigs/

!/minecraft/mods/
minecraft/mods/.connector
minecraft/mods/.index

!/minecraft/resourcepacks/
!/minecraft/tacz
!.gitignore